<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^application/[^/]+/resources/.*$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^data/sites/[^/]+/resources/.*$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^data/resources/.*$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^sites/[^/]+/modules/[^/]+/resources/.*$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^sites/[^/]+/themes/.*$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^docs/.*$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^favicon\.ico$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^robots\.txt$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Rule 10" stopProcessing="true">
                    <match url="^index\.php(/(.*))?$" ignoreCase="false" />
                    <action type="Redirect" url="/{R:2}>" />
                </rule>
                <rule name="Rule 11" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
