@media (max-width: 603px) {
    /* Cover Page */

    #region-cover-sidebar .cover-action .label {
        font-size: 22px;
        top: -10px;
    }

    #region-cover-sidebar .cover-action .arrow {
        font-size: 50px;
        padding-left: 0px;
        top: -4px;
    }

    #region-cover-sidebar .cover-links ul li a {
        font-size: 0.7em;
    }

    /* Page Nav */

    .mblBook .page-footer .page-numbers {
        display: none;
        width: 0;
    }

    .mblBook .page-footer .sharethis-container {
        position: absolute;
        top: 0;
        left: 0;
        width 40px;
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        padding: 6px 0 0 0.5em;
    }

    .mblBook .page-footer .sharethis-container .buttons span {
        display: none;
    }

    .mblBook .page-footer .sharethis-container .buttons span span,
    .mblBook .page-footer .sharethis-container .buttons span.st_sharethis {
        display: inline;
    }

    .mblBook .page-footer .sharethis-container .buttons span.stButton {
        display: inline-block;
    }

    .mblBook .page-footer .sharethis-container .buttons span.st_sharethis .chicklets {
        font-size: 15px;
    }

    /* Content  Tweaks */

    .content-entry .mblView .body {
        padding: 13% 5% 10% 5%;
    }
}

@media (max-width: 480px) {

    body, .mblView {
        font-size: 8px;
    }

    /* Cover Page */

    #region-cover .cover-logo {
        top: 10px;
        left: 10px;
        max-width: 160px;
    }

    #region-cover .cover-logo img {
        width: 100%;
        height: auto;
    }

    #region-cover .widget-widget-image-rotator .image-caption {
        top: 80px;
        width: 80%;
        max-width: 310px;
        padding: 5px 15px 8px 15px;
        font-size: 3.7em;
    }

    #region-cover-sidebar {
        bottom: 25px;
        width: 50%;
        max-width: 160px;
    }

    #region-cover-sidebar .cover-links {
        display: none;
    }

    #region-cover-sidebar .cover-action {
        margin-bottom: 0;
    }

    #region-cover-sidebar .cover-action a {
        height: 30px;
    }

    #region-cover-sidebar .cover-action .label {
        font-size: 18px;
        top: -10px;
    }

    #region-cover-sidebar .cover-action .arrow {
        font-size: 40px;
        top: -6px;
    }


    /* Grid Page */

    .region-grid-header {
        height: 13%;
    }

    .region-grid {
        height: 77.5%;
    }

    .region-grid-header .widget-container,
    .region-grid .widget-container {
        padding: 0.5%;
    }

    .region-grid .widget-container {
        width: 50%;
        height: 50%;
    }

    .region-grid .widget-1 {
        height: 100%;
    }

    .region-grid .widget-title {
        font-size: 2.0em;
        padding: 4px 5px 6px 5px;
    }


    /* Page Nav */

    .page-header .page-header-button {
        font-size: 15px;
        height: 28px;
        line-height: 27px;
    }

    .mblBook .page-footer {
        height: 8%;
        font-size: 16px;
    }

    .mblBook .page-footer .page-links {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 0.25em;
    }

    .mblBook .page-footer .page-prev,
    .mblBook .page-footer .page-next,
    .mblBook .page-footer .page-discussion,
    .mblBook .page-footer .page-comments {
        padding: 0 0.3em;
    }

    /* Content  Tweaks */

    .content-entry .content-element.content-element-title {
        font-size: 3em;
        padding: 8px 5% 12px 2.5%;
    }

    .content-entry .p4cms-column {
        font-size: 1.6em;
    }

    .content-entry .details-container {
        height: 41%;
    }

    .content-entry-type-file .details-container,
    .content-entry-type-image .details-container {
        padding-top: 40px;
    }

    .content-entry-type-file .mblView .p4cms-column dl,
    .content-entry-type-image .mblView .p4cms-column dl {
        font-size: 0.85em;
    }

    .content-entry-type-file .mblView .p4cms-column dl dt,
    .content-entry-type-image .mblView .p4cms-column dl dt {
        width: 36%;
    }

    .content-entry-type-file .mblView .p4cms-column dl dd,
    .content-entry-type-image .mblView .p4cms-column dl dd {
        width: 64%;
    }
}


/* Landscape View Styling */

@media (max-height: 320px) {
    /* Page Nav */

    .mblBook .page-footer {
        height: 14%;
    }

    .content-entry .mblView .body {
        padding: 8% 5% 6.3% 5%;
    }

    .content-entry .details-container {
        height: 36%;
    }

    .content-entry-type-file .mblView .p4cms-column dl dt,
    .content-entry-type-image .mblView .p4cms-column dl dt {
        width: 25%;
    }

    .content-entry-type-file .mblView .p4cms-column dl dd,
    .content-entry-type-image .mblView .p4cms-column dl dd {
        width: 75%;
    }

    
    /* Error Page */

    .error-page div#content {
        text-align: left;
    }

    .error-page div#content img {
        max-height: 75%;
        float: left;
    }
    .error-page div#content h1 {
        font-size: 3em;
    }

    .error-page div#content p {
        margin: 0.75em 0;
    }


    /* The Grid */

    .region-grid {
        height: 72.5%;
    }
}